html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  max-width: 1920px;
  width: 100%;
}

header {
  position: relative;
  background: rgb(245, 252, 250);
}

.bg-hero {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 1279px) {
  .bg-hero {
    display: none;
  }
}
.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 24px 390px;
}
.header__logo {
  display: block;
  width: 161px;
  height: 40px;
  background-color: rgb(196, 196, 196);
}
.header__nav-container {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__nav-item > a {
  font-size: 14px;
  color: rgb(87, 92, 116);
}
.header__nav-item > a:hover {
  color: rgb(12, 18, 45);
}
.header__nav-btn {
  border: none;
  background-color: rgb(27, 95, 193);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 9px 25px;
  border-radius: 8px;
  height: 43px;
  cursor: pointer;
}
@media (max-width: 1550px) {
  .header {
    padding: 24px 24px;
  }
  .header__nav-container {
    gap: 30px;
  }
}
@media (max-width: 1279px) {
  .header {
    padding: 24px 24px;
  }
  .header__nav-container {
    gap: 20px;
  }
  .header__nav-item {
    display: none;
  }
  .header .bg-hero {
    display: none;
  }
}

.hero {
  position: relative;
  z-index: 5;
  margin-top: 56px;
  padding: 0 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
}
.hero__image {
  max-width: 496px;
  border-radius: 8px 8px 8px 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 555px;
}
.hero__mask {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: rgb(255, 184, 0);
  margin-bottom: 30px;
}
.hero__title {
  font-size: 72px;
  color: rgb(12, 18, 45);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}
.hero__subtitle {
  font-size: 16px;
  color: rgb(87, 92, 116);
  margin-bottom: 54px;
}
.hero__btns-container {
  display: flex;
  gap: 24px;
}
.hero__btn--active {
  border: none;
  background-color: rgb(27, 95, 193);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 9px 25px;
  border-radius: 8px;
  height: 43px;
  cursor: pointer;
}
.hero__btn {
  color: rgb(255, 184, 0);
  border: 1px solid rgb(255, 184, 0);
  background-color: transparent;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 24px;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 1550px) {
  .hero {
    gap: 40px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 56px;
  }
  .hero__subtitle {
    font-size: 15px;
    line-height: 24px;
  }
  .hero__btns-container {
    flex-direction: column;
  }
}
@media (max-width: 1279px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-top: 32px;
    padding: 0 24px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 44px;
  }
  .hero__subtitle {
    font-size: 15px;
    line-height: 24px;
  }
  .hero__btns-container {
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  .hero__btns-container > button {
    width: 100%;
  }
}

main {
  position: relative;
}

.figure-item {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 0;
}

.figure-item-2 {
  position: absolute;
  top: 32%;
  right: 0;
  z-index: 0;
}

@media (max-width: 1279px) {
  .figure-item,
  .figure-item-2 {
    display: none;
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  padding: 72px 390px;
  background: rgb(245, 252, 250);
}
.services__item {
  display: flex;
  align-items: start;
  gap: 20px;
  max-width: 270px;
  height: 165px;
}
.services__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services__title {
  font-size: 20px;
  color: rgb(12, 18, 45);
  font-weight: 700;
  max-width: 200px;
}
.services__subtitle {
  font-size: 16px;
  color: rgb(87, 92, 116);
  line-height: 22px;
  max-width: 194px;
}
@media (max-width: 1550px) {
  .services {
    padding: 72px 24px;
    gap: 20px;
  }
  .services__item {
    max-width: 200px;
    height: 140px;
    gap: 15px;
  }
  .services__title {
    font-size: 20px;
    max-width: 160px;
  }
  .services__subtitle {
    font-size: 14px;
    max-width: 150px;
    line-height: 20px;
  }
}
@media (max-width: 1279px) {
  .services {
    flex-direction: column;
    align-items: center;
    padding: 72px 24px;
  }
  .services__item {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .services__title {
    font-size: 24px;
    max-width: 100%;
  }
  .services__subtitle {
    font-size: 15px;
    max-width: 100%;
    line-height: 24px;
  }
}

.about {
  max-width: 1140px;
  padding: 61px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  z-index: 5;
}
.about__respirators {
  display: flex;
  gap: 44px;
}
.about__respirators-content {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.about__title {
  font-size: 48px;
  color: rgb(12, 18, 45);
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.about__description {
  font-size: 16px;
  color: rgb(87, 92, 116);
  line-height: 30px;
}
.about__description span {
  font-weight: 700;
  color: rgb(12, 18, 45);
}
.about__in-industrial {
  display: flex;
  gap: 44px;
  position: relative;
}
.about__in-industrial-content {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media (max-width: 1279px) {
  .about {
    padding: 61px 24px;
  }
  .about__respirators, .about__in-industrial {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__respirators-content, .about__in-industrial-content {
    align-items: center;
  }
}

.info {
  padding: 80px 0;
  position: relative;
  z-index: 5;
  background: linear-gradient(to bottom, transparent 0 50%, rgb(245, 252, 250) 50% 100%);
}
.info__content-main {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
}
.info__image-item {
  width: 570px;
  height: 616px;
}
.info__card-one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  width: 285px;
  height: 332px;
}
.info__card-one p {
  font-size: 14px;
  color: rgb(87, 92, 116);
  line-height: 24px;
}
.info__card-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  width: 285px;
  height: 332px;
  background: rgb(27, 95, 193);
  border-radius: 0 20px 0 0;
}
.info__card-two p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.info__group {
  display: flex;
}
.info__image {
  position: relative;
}
.info__card-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  width: 285px;
  height: 332px;
  background: rgb(27, 95, 193);
  position: absolute;
  bottom: 0;
  right: 0;
}
.info__card-three p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.info__card-four {
  padding: 45px 38px;
  background: rgb(255, 184, 0);
  min-height: 286px;
  border-radius: 0 0 20px 0;
}
.info__title {
  font-size: 20px;
  color: rgb(12, 18, 45);
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
.info__subtitle {
  font-size: 14px;
  color: rgb(87, 92, 116);
  line-height: 24px;
  margin-bottom: 26px;
}
.info__cta {
  display: flex;
  gap: 40px;
}
.info__btn {
  color: rgb(27, 95, 193);
  border: 1px solid rgb(27, 95, 193);
  background-color: transparent;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 24px;
  font-family: "Rubik", sans-serif;
  max-height: 46px;
  cursor: pointer;
}
.info__contact {
  display: flex;
  gap: 13px;
}
.info__contact-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info__contact-title {
  color: rgb(27, 95, 193);
  font-weight: 600;
  font-size: 14px;
}
.info__phone {
  color: rgb(12, 18, 45);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.info__line {
  display: block;
  width: 1px;
  height: 46px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1550px) {
  .info__content-main {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .info__image-item {
    width: 100%;
    height: auto;
  }
  .info__image {
    width: 100%;
    height: auto;
  }
  .info__group {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .info__card-one, .info__card-two, .info__card-three {
    position: static;
    width: 100%;
    height: auto;
    padding: 40px 30px;
  }
  .info__card-four {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    min-height: auto;
  }
  .info__cta {
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 1279px) {
  .info__content-main {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 24px;
  }
  .info__image-item {
    width: 100%;
    height: auto;
  }
  .info__image {
    width: 100%;
    height: auto;
  }
  .info__group {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .info__card-one, .info__card-two, .info__card-three {
    position: static;
    width: 100%;
    height: auto;
    padding: 40px 20px;
  }
  .info__card-four {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    min-height: auto;
  }
  .info__title {
    font-size: 24px;
    line-height: 32px;
  }
  .info__subtitle {
    font-size: 15px;
    line-height: 24px;
  }
  .info__cta {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .info__btn {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .info__line {
    display: none;
  }
}

.sertification {
  padding: 80px 0;
  background: rgb(245, 252, 250);
  position: relative;
  z-index: 5;
}
.sertification__main-content {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  align-items: center;
  gap: 87px;
}
.sertification__group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sertification__title {
  color: rgb(87, 92, 116);
  font-size: 14px;
  line-height: 24px;
}
.sertification__line {
  display: block;
  height: 1px;
  width: 147px;
  background-color: rgb(255, 184, 0);
}
.sertification__logos {
  display: flex;
  gap: 100px;
  align-items: center;
}
@media (max-width: 1550px) {
  .sertification__main-content {
    flex-direction: column;
    gap: 40px;
  }
  .sertification__logos {
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .sertification__main-content {
    flex-direction: column;
    gap: 40px;
    padding: 0 24px;
  }
  .sertification__logos {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.reasons {
  padding-bottom: 394px;
  border-bottom-left-radius: 150px;
  background: rgb(245, 252, 250);
  position: relative;
  z-index: 5;
}
.reasons__main-content {
  display: flex;
  gap: 87px;
  margin: 0 auto;
  max-width: 1140px;
}
.reasons__img {
  width: 400px;
  border-radius: 16px 16px 16px 0;
}
.reasons__title {
  font-size: 48px;
  color: rgb(12, 18, 45);
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-bottom: 24px;
}
.reasons__subtitle {
  font-size: 16px;
  color: rgb(87, 92, 116);
  line-height: 30px;
  margin-bottom: 40px;
}
.reasons__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 26px;
}
.reasons__card {
  display: flex;
  gap: 24px;
  max-width: 312px;
  height: 141px;
}
.reasons__card img {
  width: 56px;
  height: 56px;
}
.reasons__review {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1550px) {
  .reasons__cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .reasons__card {
    height: auto;
    align-items: center;
  }
  .reasons__card img {
    width: 40px;
    height: 40px;
  }
  .reasons__review {
    position: static;
    transform: none;
    margin-top: 40px;
  }
  .reasons__review {
    display: none;
  }
  .reasons__title {
    text-align: center;
  }
  .reasons__subtitle {
    text-align: center;
  }
}
@media (max-width: 1279px) {
  .reasons {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 24px 200px 24px;
  }
  .reasons__main-content {
    flex-direction: column;
    gap: 40px;
  }
  .reasons__img {
    width: 100%;
    height: auto;
  }
  .reasons__cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    align-items: center;
  }
  .reasons__card {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .reasons__card img {
    width: 40px;
    height: 40px;
  }
  .reasons__review {
    position: static;
    transform: none;
    margin-top: 40px;
  }
  .reasons__review {
    display: none;
  }
  .reasons__title {
    text-align: center;
  }
  .reasons__subtitle {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .reasons__main-content {
    padding: 0 24px;
  }
  .reasons__cards {
    grid-template-columns: 1fr;
    row-gap: 20px;
    align-items: center;
  }
}

.getone {
  padding: 88px 230px;
  margin: 100px auto;
  max-width: 1140px;
}
.getone__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.getone__title {
  font-size: 28px;
  color: rgb(12, 18, 45);
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.getone__subtitle {
  font-size: 16px;
  color: rgb(87, 92, 116);
  line-height: 30px;
  text-align: center;
}
.getone__btn {
  border: none;
  background-color: rgb(27, 95, 193);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 9px 25px;
  border-radius: 8px;
  height: 43px;
  cursor: pointer;
}
@media (max-width: 1550px) {
  .getone {
    padding: 88px 24px;
  }
  .getone__title {
    font-size: 24px;
    line-height: 32px;
  }
  .getone__subtitle {
    font-size: 15px;
    line-height: 24px;
  }
  .getone__btn {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}
@media (max-width: 1279px) {
  .getone {
    padding: 88px 24px;
  }
  .getone__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .getone__subtitle {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
  .getone__btn {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}

.contacts {
  background: rgb(255, 184, 0);
}
.contacts__main-content {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}
.contacts__line {
  display: block;
  width: 1px;
  height: 46px;
  background-color: rgb(255, 255, 255);
}
.contacts__item {
  display: flex;
  align-items: center;
  gap: 13px;
}
.contacts__title {
  font-size: 20px;
  color: rgb(12, 18, 45);
  margin-bottom: 1px;
  font-weight: 500;
}
.contacts__subtitle {
  font-size: 14px;
  color: rgb(12, 18, 45);
}
@media (max-width: 1550px) {
  .contacts__main-content {
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  .contacts__line {
    display: none;
  }
}
@media (max-width: 600px) {
  .contacts__main-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  .contacts__item {
    width: 100%;
  }
  .contacts__line {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: rgb(245, 252, 250);
}
@media (max-width: 1279px) {
  footer {
    padding: 0 24px;
  }
}

.footer {
  margin: 14px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 73px 0 0 0;
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  gap: 33px;
  max-width: 340px;
}
.footer__logo {
  display: block;
  width: 161px;
  height: 40px;
  background-color: rgb(196, 196, 196);
}
.footer__description {
  font-size: 14px;
  color: rgb(87, 92, 116);
  line-height: 24px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__title {
  font-size: 20px;
  color: rgb(12, 18, 45);
  margin-bottom: 7px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.footer__menu-link {
  font-size: 14px;
  color: rgb(87, 92, 116);
}
.footer__menu-link:hover {
  color: rgb(12, 18, 45);
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer__item img {
  width: 20px;
  height: 20px;
}
.footer__item p {
  font-size: 14px;
  color: rgb(87, 92, 116);
}
.footer__item p:hover {
  color: rgb(12, 18, 45);
}
@media (max-width: 1550px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .footer__logo-block {
    align-items: center;
    text-align: center;
  }
  .footer__menu {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  .footer__socials {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .footer__logo-block {
    align-items: center;
    text-align: center;
  }
  .footer__menu {
    display: none;
  }
  .footer__socials {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer__logo-block {
    align-items: center;
    text-align: center;
  }
  .footer__menu {
    display: none;
  }
  .footer__socials {
    display: none;
  }
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(225, 230, 236);
  margin-bottom: 33px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: rgb(87, 92, 116);
  margin-bottom: 30px;
}
