$primary-color: rgba(27, 95, 193, 1);
$secondary-color: rgba(255, 184, 0, 1);
$bg-color: rgba(245, 252, 250, 1);
$text-color: rgba(87, 92, 116, 1);
$text-h-color: rgba(12, 18, 45, 1);
$text-white: rgba(255, 255, 255, 1);

$text-small: 14px;
$text-h1: 72px;
$text-h2: 48px;
$text-h3: 20px;
$text-base: 16px;
$text-semibase: 15px;

$font-heading: "Rubik", sans-serif;
$font-base: "Open Sans", sans-serif;